<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1.入党申请书</string>
	<string>2.党支部谈话记录、影像资料</string>
	<string>3.入党申请人呈报表</string>
	<string>4.发展党员全程台账</string>
	<string>1.召开推荐入党积极分子会议申请书</string>
	<string>2.召开推荐入党积极分子会议批复</string>
	<string>3.会议签到表</string>
	<string>4.不计算在应到会人数内的党员审批表</string>
	<string>5.会议记录</string>
	<string>6.召开推荐入党积极分子会议全程视频</string>
	<string>7.关于确定该同志为入党积极分子的公示</string>
	<string>8.基层党工委委员或组织员的谈话记录</string>
	<string>9.入党积极分子考察表</string>
	<string>1.召开确定中共预备党员发展对象会议申请书</string>
	<string>2.召开确定中共预备党员发展对象会议批复</string>
	<string>3.签到表</string>
	<string>4.不计算在应到会人数内的党员审批表</string>
	<string>5.会议记录</string>
	<string>6.召开中共预备党员发展对象会议影像资料</string>
	<string>7.本村村干部近亲属入党报告单</string>
	<string>8.村干部近亲属入党报告单</string>
	<string>9.非公企业或社会组织负责人近亲属入党报告单</string>
	<string>10.确定中共预备党员发展对象会议记录薄</string>
	<string>11.关于同意该同志为发展对象的批复</string>
	<string>12.中共预备党员发展对象公示榜</string>
	<string>13.函调证明材料信</string>
	<string>14.函调证明材料介绍信</string>
	<string>15.关于该同志的政审材料</string>
	<string>16.关于该同志政治审查情况的报告</string>
	<string>17.发展对象集中培训考试成绩登记表</string>
	<string>18.政审结论性材料</string>
	<string>19.发展对象集中培训证明材料</string>
	<string>1.发展对象综合审查情况</string>
	<string>2.该同志发展入党征求意见表</string>
	<string>3.入党志愿书</string>
	<string>4.关于该同志的预审意见</string>
	<string>5.本村村干部近亲属入党报告单</string>
	<string>6.村干部近亲属入党报告单</string>
	<string>7.非公企业或社会组织负责人近亲属入党报告单</string>
	<string>8.召开预备党员接收会议申请书</string>
	<string>9.召开预备党员接收会议批复</string>
	<string>10.签到表</string>
	<string>11.不计算在应到会人数内的党员审批表</string>
	<string>12.会议记录</string>
	<string>13.召开中共预备党员接收会议影响资料</string>
	<string>14.关于拟接收该同志为中共预备党员的公示</string>
	<string>15.接收预备党员票决报告单</string>
	<string>16.党工委委员或组织委员谈话记录、影像资料</string>
	<string>17.预备党员批准通知</string>
	<string>18.关于拟审批该同志为中共预备党员的公示</string>
	<string>1.党支部谈话记录、影像资料</string>
	<string>2.预备党员考察表</string>
	<string>3.基层党工委书记谈话记录。影像资料</string>
	<string>4.综合考察意见</string>
	<string>5.转正申请书</string>
	<string>6.召开预备党员转正会议申请书</string>
	<string>7.召开预备党员转正会议批复</string>
	<string>8.签到表</string>
	<string>9.不计算在应到会人数内的党员审批表</string>
	<string>10.会议记录</string>
	<string>11.召开中共预备党员转正会议影像资料</string>
	<string>12.关于拟将该同志转为正式党员的公示</string>
	<string>13.党支部书记、副书记或组织委员谈话记录、影像资料</string>
	<string>14.关于拟审批该同志转为中共正式党员的公示</string>
	<string>15.正式党员批准通知</string>
</array>
</plist>
